<div gdColumn="1 / -1" gdAlignColumns="start center" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
  <mat-form-field>
    <mat-label>Chronos levels</mat-label>
    <input matInput type="number" [(ngModel)]="chronosLevels" min="0" step="1" [max]="maxChronosLevels" autocomplete="off" (ngModelChange)="calcGains()">
  </mat-form-field>
</div>

<div id="hept-number" gdColumn="1 / -1" gdAlignColumns="start center" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="12px">
  <img height="48" src="assets/Hepteract.png">

  <span class="mat-display-1">{{hepteracts | numeric:true}}</span>
  <span class="mat-title">hepteracts</span>
</div>

<table style="white-space: nowrap">
  <tr>
    <td>Powder</td>
    <td>{{powderGains | percent}}</td>
    <td>{{orbsForGains | numeric}} orbs</td>
    <td>{{powderForGains | numeric}} powder</td>
    <td>{{orbConversion | numeric:true:1}} orbs per powder</td>
  </tr>
  <tr>
    <td>Chronos</td>
    <td>{{chronosGains | percent}}</td>
    <td>{{chronosLevels}} chronos tiers</td>
  </tr>
</table>
