<div id="top">
  <mat-form-field fxFlex="25" appearance="outline">
    <mat-label>Savefile</mat-label>
    <textarea matInput [(ngModel)]="savefile"></textarea>
  </mat-form-field>

  <button id="import-button" mat-raised-button color="primary" [disabled]="!savefile" (click)="import()">Import</button>
</div>

<mat-card>
  <mat-card-title>General information</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="generalDataSource">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container *ngFor="let player of players" [matColumnDef]="player">
        <th mat-header-cell *matHeaderCellDef>{{player}}</th>
        <td mat-cell *matCellDef="let element"> {{element[player]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="generalDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: generalDisplayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Cube Tributes</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="cubeDataSource">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container *ngFor="let player of players; let i = index" [matColumnDef]="player">
        <th mat-header-cell *matHeaderCellDef>
          <span>{{player}}</span>
<!--          <mat-icon>edit</mat-icon>-->
        </th>
        <td mat-cell *matCellDef="let element"> {{element[player]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cubeDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: cubeDisplayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Tesseract Gifts</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="tesseractDataSource">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container *ngFor="let player of players; let i = index" [matColumnDef]="player">
        <th mat-header-cell *matHeaderCellDef>
          <span>{{player}}</span>
          <!--          <mat-icon>edit</mat-icon>-->
        </th>
        <td mat-cell *matCellDef="let element"> {{element[player]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tesseractDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tesseractDisplayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Hypercube Benedictions</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="hyperDataSource">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container *ngFor="let player of players; let i = index" [matColumnDef]="player">
        <th mat-header-cell *matHeaderCellDef>
          <span>{{player}}</span>
          <!--          <mat-icon>edit</mat-icon>-->
        </th>
        <td mat-cell *matCellDef="let element"> {{element[player]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="hyperDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: hyperDisplayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Platonic Statues</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="platonicDataSource">

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container *ngFor="let player of players; let i = index" [matColumnDef]="player">
        <th mat-header-cell *matHeaderCellDef>
          <span>{{player}}</span>
          <!--          <mat-icon>edit</mat-icon>-->
        </th>
        <td mat-cell *matCellDef="let element"> {{element[player]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="platonicDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: platonicDisplayColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
